aiohappyeyeballs==2.4.2
aiohttp==3.10.6
aiosignal==1.3.1
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.6.0
attrs==24.2.0
babel==2.16.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
Deprecated==1.2.14
dnspython==2.6.1
docutils==0.21.2
frozenlist==1.4.1
ghp-import==2.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
imagesize==1.4.1
Jinja2==3.1.4
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.1
langchain-core==0.3.6
langchain-text-splitters==0.3.0
langsmith==0.1.129
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
multidict==6.1.0
numpy==1.26.4
olefile==0.47
orjson==3.10.7
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
PyGithub==2.4.0
Pygments==2.18.0
pyhwp==0.1b15
PyJWT==2.9.0
pymongo==4.9.1
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyyaml_env_tag==0.1
requests==2.32.3
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.35
tenacity==8.5.0
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==5.0.3
wrapt==1.16.0
yarl==1.13.0
